*{
  padding: 0;
  margin: 0;
}



.eventdetails {
  /* padding-top: 200px; */
  color: rgb(0, 0, 0);
}


.eventname {
  margin-top: 30px;
  color: rgb(0, 0, 0);
}


.eventbox {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* padding: 0px 10px; */
  padding-top: 80px;
  position: relative;
}

.eventimgdetails {
  display: flex;
  flex-direction: column;
  width: 100%;  
  gap: 20px;
  height:auto;
  margin-top:6px;
}

.lowercontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin: 6px;
  margin-top: 30px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.desheader,.regheader{
  font-size: 18px;
  font-weight: 600;
}

.descontainer{
  padding: 10px 8px;
  margin: 5px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  min-height: 200px;
  border: 1px solid rgb(167, 165, 165);
}

.regcontainer{
  padding: 10px 8px;
  margin: 5px;
  margin-top: 10px;
  min-height: 200px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(167, 165, 165);
}

.descreptioncontainer{
  width: 98%;
}

.regulationscontainer{
  width: 98%;
}





.detailfield{
  display: flex;
  gap: 10px;
  margin-left: 10px;
  font-size: 15px;
}



.datalabel{
  font-weight: 600;
  width: 135px;
}


@media (min-width:400px) {

  .datalabel{
    font-size: 18px;  
    font-weight: 600;
    width: 180px;
  }

  
 
  .eventimgdetails{
   flex-direction: row;
   width: 100%;
   gap: 20px;
   height: 450px;
   margin:10px;
   margin-bottom: 30px;
 }
  .imagecontainer{
   width: 50%;
  }
  .eventdetails{
   width: 50%;
  }
 
  .lowercontainer{
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
    font-family: sans-serif;
    margin-bottom: 20px;
    
 }
 
 .descreptioncontainer{
   width:50%;
 }
 .regulationscontainer{
   width:50%;
 }
 }




.imagecontainer{
  width: 98%;
  margin: auto;
}

.eventimg {
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 6px;
}

.eventdetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.textdet {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


.regbtn,
.viewbt {
  background-color: #15155e;
  color: White;
  font-family: sans-serif ;
  text-shadow: 2px 1px 1px rgb(142, 142, 142);
  height: 50px;
  border-radius: 50px; 
  padding: 10px 20px;
  border: none;
  width: 150px;
  /* width: 100%; */
  margin: auto;
  margin-top: 40px;
  /* border-radius: 5px; */
  cursor: pointer;
}

.regbtn:hover,
.viewbt:hover {
  background-color: #2b2377;
}


.logo{
  padding-right: 125vh;
  padding-left: 30px;
}



.dataans1{
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  width:100%;
  text-shadow: 2px 1px 1px rgb(147, 147, 147);

}


.detailcontainer{
  display: flex;
  gap: 30px;
  width: 100%;
  margin: auto;
  flex-direction: column;
  font-family: sans-serif;
}

.editicons{
  position: absolute;
  top:65px;
  gap:2;
  right: 10px;
}