*{
  padding: 0;
  margin: 0;
}



.eventdetails {
  /* padding-top: 200px; */
  color: rgb(0, 0, 0);
}



.eventname {
  margin-top: 30px;
  color: rgb(0, 0, 0);
}

.eventimgdetails {
  display: flex;
  /* padding-top: 300px; */
}



.eventbox {
  /* background-color: #f2f2f2; */
  /* light gray background */
  /* padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* margin-top: 10px; */
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0px 10px;
  padding-top: 80px;
}

.eventimgdetails {
  display: flex;
  /* flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px; */
  /* width: 50%; */
  gap: 20px;
  height: 450px;
}

.imagecontainer{
  width: 50%;
}

.eventimg {
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 6px;
}

.eventdetails {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.textdet {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


.regbtn,
.viewbt {
  background-color: #15155e;
  color: White;
  font-family: sans-serif ;
  text-shadow: 2px 1px 1px rgb(142, 142, 142);
  height: 50px;
  border-radius: 50px; 
  padding: 10px 20px;
  border: none;
  width: 150px;
  /* width: 100%; */
  margin: auto;
  margin-top: 40px;
  /* border-radius: 5px; */
  cursor: pointer;
}

.regbtn:hover,
.viewbt:hover {
  background-color: #2b2377;
}


.logo{
  padding-right: 125vh;
  padding-left: 30px;
}

.datalabel{
  font-size: 18px;  
  font-weight: 600;
  width: 180px;
}

.dataans1{
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  width:100%;
  text-shadow: 2px 1px 1px rgb(147, 147, 147);

}

.detailfield{
  display: flex;
  gap: 10px;
}

.detailcontainer{
  display: flex;
  gap: 30px;
  width: 100%;
  flex-direction: column;
  font-family: sans-serif;
}

.lowercontainer{
   display: flex;
   width: 100%;
   gap: 10px;
   margin-top: 30px;
   font-family: sans-serif;
   margin-bottom: 20px;
}

.desheader,.regheader{
  font-size: 18px;
  font-weight: 600;

}

.descontainer{
  padding: 10px 8px;
  margin: 5px;
  font-size: 15px;
  border-radius: 5px;
  min-height: 200px;
  border: 1px solid rgb(205, 203, 203);
}

.regcontainer{
  padding: 10px 8px;
  margin: 5px;
  min-height: 200px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(205, 203, 203);
}

.descreptioncontainer{
  width: 50%;
}

.regulationscontainer{
  width: 50%;
}